@import "../../assets/styles/var.scss";
@import '../../assets/styles/mixins';

.picker {
    ::-webkit-scrollbar {
        display: none;
    }

    ::-moz-scrollbar {
        display: none;
    }
}

.yourLocation{
    &__container
    {
        padding-top: 163px;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    &__textLocationContainer{
      display: flex;
      justify-content: center;
      align-items: center;
      white-space:nowrap;
      // width: 100%;
      padding-left: 35px;
      
    }
    &__title{
            color: var(--text-icons-primary, rgba(255, 255, 255, 0.96));
            text-align: center;
            
            font-family: SB Sans Text;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 160%; /* 28.8px */
            letter-spacing: -0.342px;
    }
    &__textCity{
        color: var(--text-icons-primary, rgba(255, 255, 255, 0.96));
        font-family: SB Sans Text;
        font-size: 30px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.66px;
        display: flex;

        
    }
    &__buttonContainer {
        width: 100%;
    }
    &__button {
        position: absolute;
        bottom: 0;
        @include btnReset;
        display: block;
        left: 20px;
        width: calc(100% - 40px);
        height: 48px;
        border-radius: 12px;
        color: var(--text-icons-primary, rgba(255, 255, 255, 0.96));
        text-align: center;
        font-family: SB Sans Text;
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        line-height: 25px; /* 113.636% */
        letter-spacing: -0.418px;
        cursor: pointer;
    
        &:first-of-type {
          margin-top: 54px;
        }
    
        &:last-of-type {
          margin-bottom: 111px;
        }
    
        &+& {
          margin-top: 12px;
        }
    
        &_green {
          background: linear-gradient(93.97deg, #1DD13B 6.49%, #27C6E5 93.51%);
        }
    
        &_gray {
          background-color: rgba(255, 255, 255, 0.12);
        }
    }
    
    &__buttonIcon {
        @include btnReset;
       
        height: 24px;
        width: 24px;
        cursor: pointer;
        display: flex;
        align-items: center;
        
        margin-left: 10px;
    
        &:disabled {
          opacity: 0.28;
    
          & path {
            fill: #fff;
          }
        }
    
        &_active {
          opacity: 0.28;
    
          & path {
            fill: #fff;
          }
        }
      }
    
}