// @import '../../assets/styles/var';
@import '../../assets/styles/mixins';
p{
  color: var(--text-icons-primary, rgba(255, 255, 255, 0.96));
}
.statusPopup {
  $self: &;
  z-index: 100;
  background: rgba(12, 16, 18, 0.60);
  
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 0 41px 30px;

  &__logo {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    position: relative;
    z-index: -1;

    &_fail {
      margin-top: 124px;
      margin-bottom: 50px;

      #{$self}__lightContainer {
        width: 179px;
        height: 173px;
        bottom: -5px;
      }
    }

    &_success {
      margin-top: 104px;
      margin-bottom: 23px;

      #{$self}__lightContainer {
        width: 146px;
        height: 141px;
        top: 0;
      }
    }
  }

  &__lightContainer {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  &__light {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__text {
    color: var(--text-icons-primary, rgba(255, 255, 255, 0.96));
    text-align: center;
    font-family: SB Sans Text;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 175% */
    letter-spacing: 0.304px;

    &+& {
      margin-top: 20px;
    }

    & strong {
      font-weight: 500;
      font-size: 15px;
      line-height: 25px;
      color: var(--text-icons-primary, rgba(255, 255, 255, 0.96)) !important;
    }

  }

  &__button {
    @include btnReset;
    display: block;
    margin: 37px auto;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.96);
    padding: 11px 19px;
    background: linear-gradient(89.83deg, #0EB029 0%, #00A6C7 100%);
    border-radius: 12px;
    cursor: pointer;
    z-index: 9999;
  }
  &__textContainer{
    align-items: center;
    justify-content: center;
    display: flex;
  }
}