@import "../../assets/styles/var.scss";
@import '../../assets/styles/mixins';

.selectionColleagues {
  padding: 0 15px 0 15px;

  &__container {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  &__title {
    color: var(--text-icons-primary, rgba(255, 255, 255, 0.96));
    text-align: center;
    font-family: SB Sans Text;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 46px;
    /* 153.333% */
    letter-spacing: -0.57px;
  }

  &__button {
    position: absolute;
    bottom: 0;
    @include btnReset;
    display: block;
    left: 20px;
    width: calc(100% - 40px);
    height: 48px;
    border-radius: 12px;
    color: var(--text-icons-primary, rgba(255, 255, 255, 0.96));
    background-color: rgba(255, 255, 255, 0.12);
    text-align: center;
    font-family: SB Sans Text;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
    /* 113.636% */
    letter-spacing: -0.418px;
    cursor: pointer;

    &:first-of-type {
      margin-top: 54px;
    }

    &:last-of-type {
      margin-bottom: 111px;
    }

    &+& {
      margin-top: 12px;
    }

    &_green {
      background: linear-gradient(93.97deg, #1DD13B 6.49%, #27C6E5 93.51%);
    }

    &_gray {
      background-color: rgba(255, 255, 255, 0.12);
    }
  }

  &__buttonIcon {
    @include btnReset;
    height: 24px;
    width: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;

    margin-left: 6px;

    &:disabled {
      opacity: 0.28;

      & path {
        fill: #fff;
      }
    }

    &_active {
      opacity: 0.28;

      & path {
        fill: #fff;
      }
    }
  }

  &__radioGroupContainer {
    margin-top: 80px;
  }
}

p {
  background: var(--text-icons-gradient-sber, linear-gradient(90deg, #0EB029 0%, #00A6C7 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: SB Sans Text;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: -0.019em;
  text-align: left;
}

.radiobox span:first-of-type {
  color: var(--text-icons-primary, rgba(255, 255, 255, 0.96));
  font-family: SB Sans Text;
  font-size: 25px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: -0.019em;
  text-align: left;

}
.radioboxGrey span:first-of-type {
  color: rgb(100, 100, 100);
  font-family: SB Sans Text;
  font-size: 25px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: -0.019em;
  text-align: left;

}


.radiobox label:first-of-type {
  display: flex;
  align-items: center;
  justify-content: center;
}