@import "../../assets/styles/var.scss";
@import '../../assets/styles/mixins';


.sberTopQrPage {
    padding-top: 106px;
    display: flex;
    justify-content: center;
    gap: 30px;
    height: 100%;

    &_content {
        width: 228px;
        height: 342px;
        border-radius: 20px;
        background: rgba(255, 255, 255, 0.10);
        box-shadow: -1px -1px 5px 0px rgba(255, 255, 255, 0.05) inset;
        backdrop-filter: blur(2px);

    }

    &__card1 {
        display: flex;
        // justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 24px 38.86px 44px 47px;

        &_title {
            padding-top: 26px;
            color: var(--text-icons-primary, rgba(255, 255, 255, 0.96));
            text-align: center;
            font-family: SB Sans Text;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 32px;
            /* 128% */
            letter-spacing: -0.475px;
        }
    }

    &__card2 {
        margin: 21px 5px 0px 5px;
        gap: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        &_title {
            color: var(--text-icons-primary, rgba(255, 255, 255, 0.96));
            text-align: center;
            font-family: SB Sans Text;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 23px; /* 143.75% */
            letter-spacing: -0.304px;
        }

        &_subtitle {
            color: var(--text-icons-primary, rgba(255, 255, 255, 0.96));
            text-align: center;
            font-family: SB Sans Text;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            /* 133.333% */
            letter-spacing: -0.342px;
        }

        strong {
            color: var(--text-icons-primary, rgba(255, 255, 255, 0.96));
            font-family: SB Sans Text;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 23px;
            letter-spacing: -0.304px;
        }
    }

    &__card3 {
        margin-top: 97px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__buttonsContainer {
        width: 67px;
        height: 125px;
        background: linear-gradient(144deg, #232323 17.94%, #1F1D1D 96.45%);
        border-radius: 16px;
        margin-top: 20px;
        margin-left: 55px;
    }

    &__buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        gap:15px;

        img {

            width: 36px;
            height: 36px;
        }
        svg{
            width: 36px;
            height: 36px;
        }
    }

    &__button {
        @include btnReset;
        cursor: pointer;
        width: 36px;
        height: 36px;

        &+& {
            // margin-left: 11px;
        }

        &_hide {
            visibility: hidden;
            position: absolute;
        }
    }
}