.containerCoffee {
  overflow-x: hidden;
  overflow-y: hidden;
  overflow: hidden;
}

/* .containerPresent{

} */

.containerImg {
  position: absolute;
  display: block;
  /* Center at Screen */
  bottom: 20%;

  left: 50%;
  transform: translate(-50%);
  /* left: 50%; */
  /* padding-bottom: 70px;
    padding-right: 10px; */
  /* transform: translateX(-50%) translateY(-50%) scale(0.7); */
}

#coffee,
#cup {
  position: fixed;
}

#coffee,
/* #cup {
    background-image: url("./cup2.png");
} */
.stop-animation {
  animation-play-state: paused;
}

.circle-container-web {
  position: relative;
  width: 20em;
  height: 20em;
  padding: 0;

  border-radius: 50%;
  list-style: none;
  margin: 0;
  /* position: absolute;
    top: 50%;
    left: 50%; */

  position: absolute;
  display: block;
  /* Center at Screen */
  bottom: 17%;

  left: 50%;
  transform: translate(-50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  /* border: solid 1px #00A6C7; */

  z-index: 100;
}

.circle-container-web>* {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  margin: -2em;
}

@keyframes myAnim {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.circle-container-web>*:nth-of-type(1) {
  transform: rotate(0deg) translate(10em) rotate(0deg);
  will-change: transform;
  animation-name: orbitWeb;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.circle-container-web>*:nth-of-type(2) {
  transform: rotate(45deg) translate(10em) rotate(-45deg);
  will-change: transform;
  animation-name: orbitWeb2;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.circle-container-web>*:nth-of-type(3) {
  transform: rotate(90deg) translate(10em) rotate(-90deg);
  will-change: transform;
  animation-name: orbitWeb3;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.circle-container-web>*:nth-of-type(4) {
  transform: rotate(135deg) translate(10em) rotate(-135deg);
  will-change: transform;
  animation-name: orbitWeb4;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.circle-container-web>*:nth-of-type(5) {
  transform: rotate(180deg) translate(10em) rotate(-180deg);
  will-change: transform;
  animation-name: orbitWeb5;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.circle-container-web>*:nth-of-type(6) {
  transform: rotate(225deg) translate(10em) rotate(-224deg);
  will-change: transform;
  animation-name: orbitWeb6;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.circle-container-web>*:nth-of-type(7) {
  transform: rotate(270deg) translate(10em) rotate(-270deg);
  will-change: transform;
  animation-name: orbitWeb7;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.circle-container-web>*:nth-of-type(8) {
  transform: rotate(315deg) translate(10em) rotate(-315deg);
  will-change: transform;
  animation-name: orbitWeb8;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes orbitWeb {
  from {
    transform: rotate(0deg) translate(13em);
  }

  to {
    transform: rotate(360deg) translateX(13em);
  }
}

@keyframes orbitWeb2 {
  from {
    transform: rotate(45deg) translate(13em);
  }

  to {
    transform: rotate(405deg) translateX(13em);
  }
}

@keyframes orbitWeb3 {
  from {
    transform: rotate(90deg) translate(13em);
  }

  to {
    transform: rotate(450deg) translateX(13em);
  }
}

@keyframes orbitWeb4 {
  from {
    transform: rotate(135deg) translate(13em);
  }

  to {
    transform: rotate(495deg) translateX(13em);
  }
}

@keyframes orbitWeb5 {
  from {
    transform: rotate(180deg) translate(13em);
  }

  to {
    transform: rotate(540deg) translateX(13em);
  }
}

@keyframes orbitWeb6 {
  from {
    transform: rotate(225deg) translate(13em);
  }

  to {
    transform: rotate(585deg) translateX(13em);
  }
}

@keyframes orbitWeb7 {
  from {
    transform: rotate(270deg) translate(13em);
  }

  to {
    transform: rotate(630deg) translateX(13em);
  }
}

@keyframes orbitWeb8 {
  from {
    transform: rotate(315deg) translate(13em);
  }

  to {
    transform: rotate(675deg) translateX(13em);
  }
}


.avatar {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  /* animation: none; */

}

/* li{
    animation: myAnim 2s ease 0s 1 normal forwards;
} */

/* .ct{
    animation: pulseWeb 5s infinite;
}
.ct2{
    animation-delay: 5s;
    animation: pulseWeb2 7s infinite;
} */
@keyframes pulseWeb2 {

  0%,
  100% {
    animation-timing-function: linear;
  }

  50% {
    transform: scale(1.10);
  }
}

@keyframes pulseWeb {

  0%,
  100% {
    animation-timing-function: ease-in;
  }

  50% {
    transform: scale(1.10);
  }
}

.container1:nth-of-type(1) div img {
  transform: rotate(0deg) translate(10em) rotate(0deg);
  will-change: transform;
  animation-name: reverse-spinWeb;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;


}

.container1:nth-of-type(2) img {
  transform: rotate(45deg) translate(10em) rotate(-45deg);
  will-change: transform;
  animation-name: reverse-spinWeb2;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;

}

.container1:nth-of-type(3) img {
  transform: rotate(90deg) translate(10em) rotate(-90deg);
  will-change: transform;
  animation-name: reverse-spinWeb3;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;

}

.container1:nth-of-type(4) img {
  transform: rotate(135deg) translate(10em) rotate(-135deg);
  will-change: transform;
  animation-name: reverse-spinWeb4;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;

}

.container1:nth-of-type(5) img {
  transform: rotate(180deg) translate(10em) rotate(-180deg);
  will-change: transform;
  animation-name: reverse-spinWeb5;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;

}

.container1:nth-of-type(6) img {
  transform: rotate(225deg) translate(10em) rotate(-224deg);
  will-change: transform;
  animation-name: reverse-spinWeb6;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;

}

.container1:nth-of-type(7) img {
  transform: rotate(270deg) translate(10em) rotate(-270deg);
  will-change: transform;
  animation-name: reverse-spinWeb7;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;

}

.container1:nth-of-type(8) img {
  transform: rotate(315deg) translate(10em) rotate(-315deg);
  will-change: transform;
  animation-name: reverse-spinWeb8;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;

}

@keyframes reverse-spinWeb {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(-360deg);
  }
}

@keyframes reverse-spinWeb2 {
  from {
    transform: rotate(-45deg);
  }

  to {
    transform: rotate(-405deg);
  }
}

@keyframes reverse-spinWeb3 {
  from {
    transform: rotate(-90deg);
  }

  to {
    transform: rotate(-450deg);
  }
}

@keyframes reverse-spinWeb4 {
  from {
    transform: rotate(-135deg);
  }

  to {
    transform: rotate(-495deg);
  }
}

@keyframes reverse-spinWeb5 {
  from {
    transform: rotate(-180deg);
  }

  to {
    transform: rotate(-540deg);
  }
}

@keyframes reverse-spinWeb6 {
  from {
    transform: rotate(-224deg);
  }

  to {
    transform: rotate(-585deg);
  }
}

@keyframes reverse-spinWeb7 {
  from {
    transform: rotate(-270deg);
  }

  to {
    transform: rotate(-630deg);
  }
}

@keyframes reverse-spinWeb8 {
  from {
    transform: rotate(-315deg);
  }

  to {
    transform: rotate(-675deg);
  }
}

.circle-container-web2 {
  position: relative;
  width: 30em;
  height: 30em;
  padding: 0;

  /* border-radius: 50%; */
  list-style: none;
  margin: 0;
  position: absolute;
  left: 50%;
  
  /* border: solid 1px #44b3de; */
  position: relative;
  width: 20em;
  height: 20em;
  padding: 0;

  border-radius: 50%;
  list-style: none;
  margin: 0;
  /* position: absolute;
    top: 50%;
    left: 50%; */

  position: absolute;
  display: block;
  /* Center at Screen */
  bottom: 17%;

-ms-transform: translate(-50%, -50%) rotateZ(-24deg);
  transform: translate(-50%, -50%) rotateZ(-24deg);

  /* border: solid 1px #00A6C7; */


}

.circle-container-web2>* {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  margin: -2em;


}

.circle-container-web2>*:nth-of-type(1) {
  transform: rotate(0deg) translate(20em) rotate(0deg);
  will-change: transform;
  animation-name: sorbitWeb;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.circle-container-web2>*:nth-of-type(2) {
  transform: rotate(45deg) translate(20em) rotate(-45deg);
  will-change: transform;
  animation-name: sorbitWeb2;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.circle-container-web2>*:nth-of-type(3) {
  transform: rotate(90deg) translate(20em) rotate(-90deg);
  will-change: transform;
  animation-name: sorbitWeb3;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.circle-container-web2>*:nth-of-type(4) {
  transform: rotate(135deg) translate(20em) rotate(-135deg);
  will-change: transform;
  animation-name: sorbitWeb4;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.circle-container-web2>*:nth-of-type(5) {
  transform: rotate(180deg) translate(20em) rotate(-180deg);
  will-change: transform;
  animation-name: sorbitWeb5;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.circle-container-web2>*:nth-of-type(6) {
  transform: rotate(225deg) translate(20em) rotate(-224deg);
  will-change: transform;
  animation-name: sorbitWeb6;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.circle-container-web2>*:nth-of-type(7) {
  transform: rotate(270deg) translate(20em) rotate(-270deg);
  will-change: transform;
  animation-name: sorbitWeb7;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.circle-container-web2>*:nth-of-type(8) {
  transform: rotate(315deg) translate(20em) rotate(-315deg);
  will-change: transform;
  animation-name: sorbitWeb8;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.circle-container-web2 img {
  display: block;
  max-width: 70px;
  border-radius: 50%;
  /* border: solid 1px #00A6C7; */
  transition: 0.15s;

}


@keyframes sorbitWeb {
  from {
    transform: rotate(-0deg) translate(20em) rotateZ(24deg);
  }

  to {
    transform: rotate(-360deg) translateX(20em) rotateZ(24deg);
  }
}

@keyframes sorbitWeb2 {
  from {
    transform: rotate(-45deg) translate(20em) rotateZ(24deg);
  }

  to {
    transform: rotate(-405deg) translateX(20em) rotateZ(24deg);
  }
}

@keyframes sorbitWeb3 {
  from {
    transform: rotate(-90deg) translate(20em) rotateZ(24deg);
  }

  to {
    transform: rotate(-450deg) translateX(20em) rotateZ(24deg);
  }
}

@keyframes sorbitWeb4 {
  from {
    transform: rotate(-135deg) translate(20em) rotateZ(24deg);
  }

  to {
    transform: rotate(-495deg) translateX(20em) rotateZ(24deg);
  }
}

@keyframes sorbitWeb5 {
  from {
    transform: rotate(-180deg) translate(20em) rotateZ(24deg);
  }

  to {
    transform: rotate(-540deg) translateX(20em) rotateZ(24deg);
  }
}

@keyframes sorbitWeb6 {
  from {
    transform: rotate(-225deg) translate(20em) rotateZ(24deg);
  }

  to {
    transform: rotate(-585deg) translateX(20em) rotateZ(24deg);
  }
}

@keyframes sorbitWeb7 {
  from {
    transform: rotate(-270deg) translate(20em) rotateZ(24deg);
  }

  to {
    transform: rotate(-630deg) translateX(20em) rotateZ(24deg);
  }
}

@keyframes sorbitWeb8 {
  from {
    transform: rotate(-315deg) translate(20em) rotateZ(24deg);
  }

  to {
    transform: rotate(-675deg) translateX(20em) rotateZ(24deg);
  }
}


/* img animation  2 */


.container2:nth-of-type(1) img {
  transform: rotate(0deg) translate(20em) rotate(0deg);
  will-change: transform;
  animation-name: reverse2-spin;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;

}

.container2:nth-of-type(2) img {
  transform: rotate(45deg) translate(10em) rotate(-45deg);
  will-change: transform;
  animation-name: reverse2-spin2;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.container2:nth-of-type(3) img {
  transform: rotate(90deg) translate(10em) rotate(-90deg);
  will-change: transform;
  animation-name: reverse2-spin3;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.container2:nth-of-type(4) img {
  transform: rotate(135deg) translate(10em) rotate(-135deg);
  will-change: transform;
  animation-name: reverse2-spin4;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;

}

.container2:nth-of-type(5) img {
  transform: rotate(180deg) translate(10em) rotate(-180deg);
  will-change: transform;
  animation-name: reverse2-spin5;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;

}

.container2:nth-of-type(6) img {
  transform: rotate(225deg) translate(10em) rotate(-224deg);
  will-change: transform;
  animation-name: reverse2-spin6;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;

}

.container2:nth-of-type(7) img {
  transform: rotate(270deg) translate(10em) rotate(-270deg);
  will-change: transform;
  animation-name: reverse2-spin7;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;

}

.container2:nth-of-type(8) img {
  transform: rotate(315deg) translate(10em) rotate(-315deg);
  will-change: transform;
  animation-name: reverse2-spin8;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;

}

@keyframes reverse2-spin {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes reverse2-spin2 {
  from {
    transform: rotate(45deg);
  }

  to {
    transform: rotate(405deg);
  }
}

@keyframes reverse2-spin3 {
  from {
    transform: rotate(90deg);
  }

  to {
    transform: rotate(450deg);
  }
}

@keyframes reverse2-spin4 {
  from {
    transform: rotate(135deg);
  }

  to {
    transform: rotate(495deg);
  }
}

@keyframes reverse2-spin5 {
  from {
    transform: rotate(180deg);
  }

  to {
    transform: rotate(540deg);
  }
}

@keyframes reverse2-spin6 {
  from {
    transform: rotate(224deg);
  }

  to {
    transform: rotate(585deg);
  }
}

@keyframes reverse2-spin7 {
  from {
    transform: rotate(270deg);
  }

  to {
    transform: rotate(630deg);
  }
}

@keyframes reverse2-spin8 {
  from {
    transform: rotate(315deg);
  }

  to {
    transform: rotate(675deg);
  }
}


/* End img 2 animation */

@-moz-keyframes spinnerRotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@-o-keyframes spinnerRotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes spinnerRotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* #coffee {
  position: absolute;
  background-position: -110px -81px;
  border-radius: 50%;
  top: 75px;
  left: 82px;
  width: 175px;
  height: 175px;
  background-size: 360px 361px;
  -webkit-animation-name: spinnerRotate;
  -webkit-animation-duration: 50s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spinnerRotate;
  -moz-animation-duration: 50s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spinnerRotate;
  -ms-animation-duration: 50s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
} */

/* #cup {
    position: relative;
    width: 500px;
    height: 500px;
    top: 0px;
    left: 0;
    background-size: 500px 500px;
} */

.ct1 {
  -webkit-animation-name: animate11;
  -webkit-animation-duration: 10.8s;
  animation-name: animate11;
  animation-duration: 10.8s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.ct21 {
  -webkit-animation-name: animate11;
  -webkit-animation-duration: 10.8s;
  animation-name: animate11;
  animation-duration: 10.8s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.bubbleImg1 {
  -webkit-animation-name: animate1;
  -webkit-animation-duration: 1.8s;
  animation-name: animate1;
  animation-duration: 1.8s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.bubbleImg2 {
  -webkit-animation-name: animate2;
  -webkit-animation-duration: 1.8s;
  animation-name: animate2;
  animation-duration: 1.8s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.bubbleImg3 {
  -webkit-animation-name: animate3;
  -webkit-animation-duration: 1.8s;
  animation-name: animate3;
  animation-duration: 1.8s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.bubbleImg4 {
  -webkit-animation-name: animate4;
  -webkit-animation-duration: 1.8s;
  animation-name: animate4;
  animation-duration: 1.8s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.bubbleImg5 {
  -webkit-animation-name: animate5;
  -webkit-animation-duration: 1.8s;
  animation-name: animate5;
  animation-duration: 1.8s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.bubbleImg6 {
  -webkit-animation-name: animate6;
  -webkit-animation-duration: 1.8s;
  animation-name: animate6;
  animation-duration: 1.8s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.bubbleImg7 {
  -webkit-animation-name: animate7;
  -webkit-animation-duration: 1.8s;
  animation-name: animate7;
  animation-duration: 1.8s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.bubbleImg8 {
  -webkit-animation-name: animate8;
  -webkit-animation-duration: 1.8s;
  animation-name: animate8;
  animation-duration: 1.8s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.bubbleImg9 {
  -webkit-animation-name: animate9;
  -webkit-animation-duration: 1.8s;
  animation-name: animate9;
  animation-duration: 1.8s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.bubbleImg10 {
  -webkit-animation-name: animate10;
  -webkit-animation-duration: 18s;
  animation-name: animate10;
  animation-duration: 18s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.bubbleImg11 {
  -webkit-animation-name: animate11;
  -webkit-animation-duration: 19.8s;
  animation-name: animate11;
  animation-duration: 19.8s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.bubbleImg12 {
  -webkit-animation-name: animate12;
  -webkit-animation-duration: 21.6s;
  animation-name: animate12;
  animation-duration: 21.6s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.bubbleImg13 {
  -webkit-animation-name: animate13;
  -webkit-animation-duration: 23.4s;
  animation-name: animate13;
  animation-duration: 23.4s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.bubbleImg14 {
  -webkit-animation-name: animate14;
  -webkit-animation-duration: 25.2s;
  animation-name: animate14;
  animation-duration: 25.2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}


@-webkit-keyframes animate1 {
  0% {
    color: #333333;
  }

  25% {
    color: #999999;
    transform: rotate(-1deg) scale(0.4) translateY(6px) translateX(11px);
    opacity: 0.5;
  }

  50% {
    color: #6D1995;
    transform: rotate(-1deg) scale(0.4) translateY(4px) translateX(8px);
    opacity: 0.2;
  }

  75% {
    color: #4FBBDD;
    transform: rotate(2deg) scale(0.3) translateY(16px) translateX(9px);
    opacity: 0.9;
  }

  100% {
    color: #84991C;
  }
}

@keyframes animate1 {
  0% {
    color: #333333;
  }

  25% {
    color: #999999;
    transform: rotate(-1deg) scale(0.4) translateY(6px) translateX(11px);
    opacity: 0.5;
  }

  50% {
    color: #6D1995;
    transform: rotate(-1deg) scale(0.4) translateY(4px) translateX(8px);
    opacity: 0.2;
  }

  75% {
    color: #4FBBDD;
    transform: rotate(2deg) scale(0.3) translateY(16px) translateX(9px);
    opacity: 0.9;
  }

  100% {
    color: #84991C;
  }
}

@-webkit-keyframes animate2 {
  0% {
    color: #333333;
  }

  25% {
    color: #999999;
    transform: rotate(-2deg) scale(0.5) translateY(7px) translateX(19px);
    opacity: 0.9;
  }

  50% {
    color: #6D1995;
    transform: rotate(-2deg) scale(0.5) translateY(1px) translateX(18px);
    opacity: 0.7;
  }

  75% {
    color: #4FBBDD;
    transform: rotate(2deg) scale(0.4) translateY(3px) translateX(20px);
    opacity: 1;
  }

  100% {
    color: #84991C;
  }
}

@keyframes animate2 {
  0% {
    color: #333333;
  }

  25% {
    color: #999999;
    transform: rotate(-2deg) scale(0.5) translateY(7px) translateX(19px);
    opacity: 0.9;
  }

  50% {
    color: #6D1995;
    transform: rotate(-2deg) scale(0.5) translateY(1px) translateX(18px);
    opacity: 0.7;
  }

  75% {
    color: #4FBBDD;
    transform: rotate(2deg) scale(0.4) translateY(3px) translateX(20px);
    opacity: 1;
  }

  100% {
    color: #84991C;
  }
}

@-webkit-keyframes animate3 {
  0% {
    color: #333333;
  }

  25% {
    color: #999999;
    transform: rotate(-1deg) scale(0.6) translateY(8px) translateX(18px);
    opacity: 0.1;
  }

  50% {
    color: #6D1995;
    transform: rotate(-2deg) scale(0.6) translateY(15px) translateX(17px);
    opacity: 0.2;
  }

  75% {
    color: #4FBBDD;
    transform: rotate(2deg) scale(0.5) translateY(2px) translateX(11px);
    opacity: 1;
  }

  100% {
    color: #84991C;
  }
}

@keyframes animate3 {
  0% {
    color: #333333;
  }

  25% {
    color: #999999;
    transform: rotate(-1deg) scale(0.6) translateY(8px) translateX(18px);
    opacity: 0.1;
  }

  50% {
    color: #6D1995;
    transform: rotate(-2deg) scale(0.6) translateY(15px) translateX(17px);
    opacity: 0.2;
  }

  75% {
    color: #4FBBDD;
    transform: rotate(2deg) scale(0.5) translateY(2px) translateX(11px);
    opacity: 1;
  }

  100% {
    color: #84991C;
  }
}

@-webkit-keyframes animate4 {
  0% {
    color: #333333;
  }

  25% {
    color: #999999;
    transform: rotate(-2deg) scale(0.7) translateY(14px) translateX(14px);
    opacity: 0.5;
  }

  50% {
    color: #6D1995;
    transform: rotate(-4deg) scale(0.7) translateY(3px) translateX(17px);
    opacity: 0.2;
  }

  75% {
    color: #4FBBDD;
    transform: rotate(4deg) scale(0.6) translateY(28px) translateX(18px);
    opacity: 0.8;
  }

  100% {
    color: #84991C;
  }
}

@keyframes animate4 {
  0% {
    color: #333333;
  }

  25% {
    color: #999999;
    transform: rotate(-2deg) scale(0.7) translateY(14px) translateX(14px);
    opacity: 0.5;
  }

  50% {
    color: #6D1995;
    transform: rotate(-4deg) scale(0.7) translateY(3px) translateX(17px);
    opacity: 0.2;
  }

  75% {
    color: #4FBBDD;
    transform: rotate(4deg) scale(0.6) translateY(28px) translateX(18px);
    opacity: 0.8;
  }

  100% {
    color: #84991C;
  }
}

@-webkit-keyframes animate5 {
  0% {
    color: #333333;
  }

  25% {
    color: #999999;
    transform: rotate(-3deg) scale(0.8) translateY(11px) translateX(6px);
    opacity: 1;
  }

  50% {
    color: #6D1995;
    transform: rotate(-5deg) scale(0.8) translateY(6px) translateX(20px);
    opacity: 0.7;
  }

  75% {
    color: #4FBBDD;
    transform: rotate(2deg) scale(0.7) translateY(24px) translateX(18px);
    opacity: 0.9;
  }

  100% {
    color: #84991C;
  }
}

@keyframes animate5 {
  0% {
    color: #333333;
  }

  25% {
    color: #999999;
    transform: rotate(-3deg) scale(0.8) translateY(11px) translateX(6px);
    /* opacity: 1; */
  }

  50% {
    color: #6D1995;
    transform: rotate(-5deg) scale(0.8) translateY(6px) translateX(20px);
    /* opacity: 0.7; */
  }

  75% {
    color: #4FBBDD;
    transform: rotate(2deg) scale(0.7) translateY(24px) translateX(18px);
    /* opacity: 0.9; */
  }

  100% {
    color: #84991C;
  }
}

@-webkit-keyframes animate6 {
  0% {
    color: #333333;
  }

  25% {
    color: #999999;
    transform: rotate(-3deg) scale(0.9) translateY(17px) translateX(1px);
    /* opacity: 0.6; */
  }

  50% {
    color: #6D1995;
    transform: rotate(-6deg) scale(0.9) translateY(4px) translateX(1px);
    /* opacity: 0.3; */
  }

  75% {
    color: #4FBBDD;
    transform: rotate(8deg) scale(0.8) translateY(18px) translateX(26px);
    /* opacity: 0.6; */
  }

  100% {
    color: #84991C;
  }
}

@keyframes animate6 {
  0% {
    color: #333333;
  }

  25% {
    color: #999999;
    transform: rotate(-3deg) scale(0.9) translateY(17px) translateX(1px);
    /* opacity: 0.6; */
  }

  50% {
    color: #6D1995;
    transform: rotate(-6deg) scale(0.9) translateY(4px) translateX(1px);
    /* opacity: 0.3; */
  }

  75% {
    color: #4FBBDD;
    transform: rotate(8deg) scale(0.8) translateY(18px) translateX(26px);
    /* opacity: 0.6; */
  }

  100% {
    color: #84991C;
  }
}

@-webkit-keyframes animate7 {
  0% {
    color: #333333;
  }

  25% {
    color: #999999;
    transform: rotate(-5deg) scale(1) translateY(20px) translateX(6px);
    opacity: 0.3;
  }

  50% {
    color: #6D1995;
    transform: rotate(-2deg) scale(1) translateY(12px) translateX(11px);
    opacity: 0.9;
  }

  75% {
    color: #4FBBDD;
    transform: rotate(12deg) scale(0.9) translateY(14px) translateX(23px);
    opacity: 0.8;
  }

  100% {
    color: #84991C;
  }
}

@keyframes animate7 {
  0% {
    color: #333333;
  }

  25% {
    color: #999999;
    transform: rotate(-5deg) scale(1) translateY(20px) translateX(6px);
    opacity: 0.3;
  }

  50% {
    color: #6D1995;
    transform: rotate(-2deg) scale(1) translateY(12px) translateX(11px);
    opacity: 0.9;
  }

  75% {
    color: #4FBBDD;
    transform: rotate(12deg) scale(0.9) translateY(14px) translateX(23px);
    opacity: 0.8;
  }

  100% {
    color: #84991C;
  }
}

@-webkit-keyframes animate8 {
  0% {
    color: #333333;
  }

  25% {
    color: #999999;
    transform: rotate(-3deg) scale(1.1) translateY(15px) translateX(7px);
    opacity: 0.9;
  }

  50% {
    color: #6D1995;
    transform: rotate(-8deg) scale(1.1) translateY(9px) translateX(13px);
    opacity: 0.1;
  }

  75% {
    color: #4FBBDD;
    transform: rotate(2deg) scale(1) translateY(25px) translateX(14px);
    opacity: 0.5;
  }

  100% {
    color: #84991C;
  }
}

@keyframes animate8 {
  0% {
    color: #333333;
  }

  25% {
    color: #999999;
    transform: rotate(-3deg) scale(1.1) translateY(15px) translateX(7px);
    opacity: 0.9;
  }

  50% {
    color: #6D1995;
    transform: rotate(-8deg) scale(1.1) translateY(9px) translateX(13px);
    opacity: 0.1;
  }

  75% {
    color: #4FBBDD;
    transform: rotate(2deg) scale(1) translateY(25px) translateX(14px);
    opacity: 0.5;
  }

  100% {
    color: #84991C;
  }
}

@-webkit-keyframes animate9 {
  0% {
    color: #333333;
  }

  25% {
    color: #999999;
    transform: rotate(-8deg) scale(1.2) translateY(15px) translateX(12px);
    opacity: 0.2;
  }

  50% {
    color: #6D1995;
    transform: rotate(-6deg) scale(1.2) translateY(5px) translateX(7px);
    opacity: 0.2;
  }

  75% {
    color: #4FBBDD;
    transform: rotate(6deg) scale(1.1) translateY(5px) translateX(22px);
    opacity: 1;
  }

  100% {
    color: #84991C;
  }
}

@keyframes animate9 {
  0% {
    color: #333333;
  }

  25% {
    color: #999999;
    transform: rotate(-8deg) scale(1.2) translateY(15px) translateX(12px);
    opacity: 0.2;
  }

  50% {
    color: #6D1995;
    transform: rotate(-6deg) scale(1.2) translateY(5px) translateX(7px);
    opacity: 0.2;
  }

  75% {
    color: #4FBBDD;
    transform: rotate(6deg) scale(1.1) translateY(5px) translateX(22px);
    opacity: 1;
  }

  100% {
    color: #84991C;
  }
}

@-webkit-keyframes animate10 {
  0% {
    color: #333333;
  }

  25% {
    color: #999999;
    transform: rotate(-9deg) scale(1.3) translateY(3px) translateX(1px);
    opacity: 0.7;
  }

  50% {
    color: #6D1995;
    transform: rotate(-3deg) scale(1.3) translateY(19px) translateX(20px);
    opacity: 0.7;
  }

  75% {
    color: #4FBBDD;
    transform: rotate(2deg) scale(1.2) translateY(30px) translateX(21px);
    opacity: 0.3;
  }

  100% {
    color: #84991C;
  }
}

@keyframes animate10 {
  0% {
    color: #333333;
  }

  25% {
    color: #999999;
    transform: rotate(-9deg) scale(1.3) translateY(3px) translateX(1px);
    opacity: 0.7;
  }

  50% {
    color: #6D1995;
    transform: rotate(-3deg) scale(1.3) translateY(19px) translateX(20px);
    opacity: 0.7;
  }

  75% {
    color: #4FBBDD;
    transform: rotate(2deg) scale(1.2) translateY(30px) translateX(21px);
    opacity: 0.3;
  }

  100% {
    color: #84991C;
  }
}

@-webkit-keyframes animate11 {
  0% {}

  25% {
    transform: rotate(-11deg) scale(0.9) translateY(11px) translateX(19px);

  }

  50% {

    transform: rotate(-11deg) scale(1) translateY(19px) translateX(19px);

  }

  75% {
    transform: rotate(12deg) scale(1.05) translateY(20px) translateX(19px);
  }

  100% {}
}

@keyframes animate11 {
  0% {}

  25% {
    transform: rotate(-11deg) scale(1) translateY(11px) translateX(19px);

  }

  50% {

    transform: rotate(-11deg) scale(1.1) translateY(19px) translateX(19px);

  }

  75% {
    transform: rotate(12deg) scale(1.05) translateY(20px) translateX(19px);
  }

  100% {}
}

@-webkit-keyframes animate12 {
  0% {
    color: #333333;
  }

  25% {
    color: #999999;
    transform: rotate(-1deg) scale(1.5) translateY(18px) translateX(20px);
    opacity: 0.4;
  }

  50% {
    color: #6D1995;
    transform: rotate(-1deg) scale(1.5) translateY(3px) translateX(13px);
    opacity: 0.5;
  }

  75% {
    color: #4FBBDD;
    transform: rotate(22deg) scale(1.4) translateY(14px) translateX(30px);
    opacity: 0.1;
  }

  100% {
    color: #84991C;
  }
}

@keyframes animate12 {
  0% {
    color: #333333;
  }

  25% {
    color: #999999;
    transform: rotate(-1deg) scale(1.5) translateY(18px) translateX(20px);
    opacity: 0.4;
  }

  50% {
    color: #6D1995;
    transform: rotate(-1deg) scale(1.5) translateY(3px) translateX(13px);
    opacity: 0.5;
  }

  75% {
    color: #4FBBDD;
    transform: rotate(22deg) scale(1.4) translateY(14px) translateX(30px);
    opacity: 0.1;
  }

  100% {
    color: #84991C;
  }
}

@-webkit-keyframes animate13 {
  0% {
    color: #333333;
  }

  25% {
    color: #999999;
    transform: rotate(-8deg) scale(1.6) translateY(15px) translateX(6px);
    opacity: 0.6;
  }

  50% {
    color: #6D1995;
    transform: rotate(-5deg) scale(1.6) translateY(12px) translateX(19px);
    opacity: 0.4;
  }

  75% {
    color: #4FBBDD;
    transform: rotate(12deg) scale(1.5) translateY(6px) translateX(3px);
    opacity: 0.8;
  }

  100% {
    color: #84991C;
  }
}

@keyframes animate13 {
  0% {
    color: #333333;
  }

  25% {
    color: #999999;
    transform: rotate(-8deg) scale(1.6) translateY(15px) translateX(6px);
    opacity: 0.6;
  }

  50% {
    color: #6D1995;
    transform: rotate(-5deg) scale(1.6) translateY(12px) translateX(19px);
    opacity: 0.4;
  }

  75% {
    color: #4FBBDD;
    transform: rotate(12deg) scale(1.5) translateY(6px) translateX(3px);
    opacity: 0.8;
  }

  100% {
    color: #84991C;
  }
}

@-webkit-keyframes animate14 {
  0% {
    color: #333333;
  }

  25% {
    color: #999999;
    transform: rotate(-5deg) scale(1.7) translateY(15px) translateX(9px);
    opacity: 0.3;
  }

  50% {
    color: #6D1995;
    transform: rotate(-8deg) scale(1.7) translateY(6px) translateX(6px);
    opacity: 0.4;
  }

  75% {
    color: #4FBBDD;
    transform: rotate(10deg) scale(1.6) translateY(9px) translateX(27px);
    opacity: 0.3;
  }

  100% {
    color: #84991C;
  }
}

@keyframes animate14 {
  0% {
    color: #333333;
  }

  25% {
    color: #999999;
    transform: rotate(-5deg) scale(1.7) translateY(15px) translateX(9px);
    opacity: 0.3;
  }

  50% {
    color: #6D1995;
    transform: rotate(-8deg) scale(1.7) translateY(6px) translateX(6px);
    opacity: 0.4;
  }

  75% {
    color: #4FBBDD;
    transform: rotate(10deg) scale(1.6) translateY(9px) translateX(27px);
    opacity: 0.3;
  }

  100% {
    color: #84991C;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color-scheme: dark;
}

body {
  margin: 0;
  padding: 50px;
  background-color: #18191c;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}

.snow-toggle {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  gap: 40px;
  border: 0;
}

.snow-toggle__label {
  padding-bottom: 10px;
}

.snow-toggle__item {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.snow-toggle__text::before {
  content: "";
  position: absolute;
  left: 0;
  top: calc(50% - 12px);
  width: 25px;
  height: 25px;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
}

.snow-toggle__control {
  width: 25px;
  height: 25px;
  opacity: 0;
  margin-right: 15px;
}

.snow-toggle__control:focus+.snow-toggle__text::before {
  border-color: #2E9AFF;
}

.snow-toggle__control:checked+.snow-toggle__text::before {
  background-color: #FFFFFF;
  background: radial-gradient(circle,
      #FFFFFF 0%,
      #FFFFFF 40%,
      transparent 50%,
      transparent 100%);
}

.snow {
  --animation-name: snowfall;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  pointer-events: none;
}

.snow__flake {
  position: relative;
  top: -1.5em;
  color: #c1dcec;
  animation-name: var(--animation-name);
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  will-change: transform;
}

@keyframes snowfall {
  0% {
    transform: translateY(0);
  }







  100% {
    transform: translateY(calc(100vh + 1.5em));
  }
}