/* @import "./assets/styles/var.scss"; */
#root {
  width: 100vw;
  background: linear-gradient(26deg, rgba(15, 153, 24, 0.14) 0%, rgba(8, 8, 8, 0.00) 72.24%), radial-gradient(104.89% 141.42% at 0% 100%, rgba(0, 170, 255, 0.12) 0%, rgba(8, 8, 8, 0.00) 99.69%), radial-gradient(108.72% 157.5% at 50% 149.35%, rgba(0, 102, 255, 0.30) 0%, rgba(8, 8, 8, 0.00) 99.69%);  overflow-x: hidden;
}

/* @media screen and (min-width: 650px) {
  #root {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--background-mobile-sber, linear-gradient(337deg, rgba(20, 116, 70, 0.60) 0%, rgba(8, 8, 8, 0.00) 64.88%), radial-gradient(100% 100% at 75.89% 100%, rgba(0, 133, 255, 0.24) 0%, rgba(0, 71, 255, 0.03) 100%), linear-gradient(180deg, rgba(8, 8, 8, 0.00) 50%, rgba(7, 71, 33, 0.30) 100%), linear-gradient(270deg, #061621 0%, rgba(8, 8, 8, 0.00) 100%));
  }

}
 */
