@import "../../assets/styles/var";
@import '../../assets/styles/mixins';


.connectionListPopup {
  &__content {
    padding: 19px 0 100px 0;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

  &__contentText {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center
  }

  &__iconContainer {
    width: 112px;
    height: 60px;
    margin: 60px auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(250, 109, 32, 0.1);
      filter: blur(65px);
    }
  }

  &__text {
    width: calc(100% - 60px);
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    opacity: 0.5;
  }

  &__title {
    font-weight: 600;
    font-size: 17px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.022em;
    color: rgba(255, 255, 255, 0.96);
    margin-bottom: 5.5px;
  }

  &__textContent {
    font-family: SB Sans Text;
    font-size: 18px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: -0.019em;
    text-align: center;
  }

  &__subtitle {
    font-family: SB Sans Text;
    font-size: 18px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: -0.019em;
    text-align: center;

  }

  &__meet {
    @include btnReset;
    display: block;
    width: 100%;
    padding: 9px 0;
    border-bottom: solid 1px rgba(255, 255, 255, 0.2);
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    padding-left: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
  }

  &__meetLogo {
    width: 45px;
  }

  &__arrow {
    margin-left: auto;
    height: 15px !important;
    margin-left: auto;

    svg {
      color: $colorMeetingGrey;
    }
  }


}

.li {
  font-family: SB Sans Text;
  font-size: 14px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.019em;
  text-align: left;
  margin-top: 5px;
  margin-left: 35px;

}
